/* Styles for images of coins */

.coin-thumb {
    width: 90px;
    height: 90px;
    margin: 5px;
    background-image: url("no_image.gif");
    background-size: 90px 90px;
}

.coin-not-owned {
    transition: all 0.5s;
    opacity: 0.6;
    -webkit-filter: grayscale(1);
}

.coin-not-owned:hover {
    opacity: 1.0;
    -webkit-filter: grayscale(0);
}

.coin-full {
    max-width: 100%;
    margin-bottom: 10px;

}